/*涓婚〉涓嬫柟*/
.index-down{
	margin-top: 100px;	
}

/*涔﹀垪琛ㄤ笅鏂�*/
.booklist-bottom{
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 20px;
	background-color: #0275D8;
	height: 30px;
}

.text-overflow{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}